*{
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    padding: 7rem;
}
section h1{
    text-align: center;
}
.form__saida{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dimgray);
    margin: 1.5rem 10rem;
}
.form__saida p{
    padding: 1rem 2rem;
}
.form__saida p input{
    
    padding: 0.2rem 0.2rem 0.2rem 2rem;
    font-size: 1.5rem;
}
.form__button{
    text-align: center;
    margin: 2rem;
}
.btn{
    background-image: linear-gradient(to bottom, var(--deepskyblue), var(--DodgerBlue));
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    height: 2.8rem;
    padding: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    box-shadow: 0rem 0.4rem 0.9rem rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
}
.btn:hover {
    background-image: linear-gradient(to bottom, var(--DodgerBlue), var(--deepskyblue));
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.9);
}