
.pd__top{
    padding: 6rem 0 0 10rem;
    font-size: 2rem;
    font-weight: 550;
    color: var(--dimgray);
}
.pd__cent{
    padding: 3rem 0 0 10rem;
    font-size: 2rem;
    font-weight: 550;
    color: var(--dimgray);
}

.home{
    padding: 2rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
}
.home__item{
    width: 20rem;
    height: 10.5rem;
    max-height: 10.5rem;
    background-color: var(--white);
    margin: 0 4rem;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.5rem 0.9rem rgba(0, 0, 0, 0.7);
    padding: 0.8rem 0 0 1rem;
}

.home__func{
    width: 20rem;
    height: 13rem;
    max-height: 13rem;
    background-color: var(--white);
    margin: 0 4rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 0.5rem 0.9rem rgba(0, 0, 0, 0.7);
    padding: 1.2rem 0 0 0;
    text-align: center;
}
.home__item:hover,
.home__func:hover{
    box-shadow: 0rem 0.6rem 1rem rgba(0, 0, 0, 1);
}
.home__func img{
    text-align: center;
    height: 4rem;
}

.btn{
    background-image: linear-gradient(to bottom, #00B3FF, #0072C2);
    border: 0px;
    outline: 0;
    color: var(--white);
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0.4rem 0.9rem rgba(0, 0, 0, 0.7);
    font-size: 1.4rem;
    cursor: pointer;
}
.btn:hover{
    width: 10.1rem;
    height: 2.5rem;
    background-image: linear-gradient(to bottom, #0072C2, #005998);
    box-shadow: 0rem 0.4rem 1rem rgba(0, 0, 0, 0.9);
}
.home__func p{
    padding: 1rem 2rem 0 2rem;
    font-size: 1.3rem;
    
}

.hm-left{
    border-left: 0.5rem solid #1BA1E2;
}
.hm-center{
    border-left: 0.5rem solid #0050EF;
}
.hm-right{
    border-left: 0.5rem solid #6A00FF;
}

:root{
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;


    --deepskyblue: #00B3FF;
    --DodgerBlue: #0072C2;
    --gainsboro: #E3E4E8;
    --dimgray: #4D4D4D;
    --lightgray: #CCCCCC;
  
    --color-header: #f5f4fb;
  
    --sombra-primary: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
  
    --font-family: 'DM Sans', sans-serif;


}